<div *ngIf="vm$ | async as vm;else status" class="todo-list">

    <article>
        <form [formGroup]="form" (submit)="submit()">
            <input type="text" placeholder="Create new item" formControlName="text" minlength="1" required>
            <button type="submit"  [disabled]="form.invalid || this._submitting">Submit</button>    
            <button type="button" (click)="this._showCompleted = !this._showCompleted" style="margin-left:0.5rem">
                <span *ngIf="!this._showCompleted">Show Completed</span>
                <span *ngIf="this._showCompleted">Hide Completed</span>
                
            </button>
        </form>
        
    </article>

    <div *ngFor="let item of vm.items">
        <article *ngIf="this._showCompleted || !item.completed">
                <div class="control" (click)="this.complete(item)">
                    <fa-icon [icon]="faCheck" *ngIf="item.completed"></fa-icon>
                    <fa-icon [icon]="farSquare" *ngIf="!item.completed"></fa-icon>
                </div>
                <div class="text" [class.completed]="item.completed">
                    {{ item.text }}
                </div>
                <div class="created">
                    {{ item.created | date:'EEE, dd MMM yyyy' }}
                </div>
        </article>
    </div>
   
</div>

<ng-template #status>
    <ng-container *ngIf="error; else loading">
        <div>{{ error.title }}</div>
        <div>{{ error.message }}</div>
    </ng-container>
    <ng-template #loading>
        Loading...
    </ng-template>
</ng-template>