<div *ngIf="vm$ | async as vm;else status" class="todo-list">

    <article>
        <form [formGroup]="form" (submit)="submit()">
            <input type="text" placeholder="Create new item" formControlName="text">
            <button type="submit" [disabled]="form.invalid || this.formBusy">Submit</button>    
        </form>
        
    </article>
    <article *ngFor="let item of vm.items">
        <div class="control">
            <button (click)="this.setCompleted(item)">
                <fa-icon [fixedWidth]="true" class="button-completed" [icon]="faCheck" *ngIf="item.completed"></fa-icon>
                <fa-icon [fixedWidth]="true" class="button-todo" [icon]="faXmark" *ngIf="!item.completed"></fa-icon>
            </button>
        </div>
        <div class="text" [class.completed]="item.completed">
            {{ item.text }}
        </div>
        <div class="completed-at" *ngIf="item.completed">
            <b>Completed:</b> {{ item.completed | date: 'EEE, dd, MMM, yyyy' }}
        </div>
        <div class="separator" *ngIf="item.completed"></div>
        <div class="created">
            <b>Created:</b> {{ item.created | date: 'EEE, dd MMM yyyy' }}
        </div>
    </article>
</div>

<ng-template #status>
    <ng-container *ngIf="error; else loading">
        <div>{{ error.title }}</div>
        <div>{{ error.message }}</div>
    </ng-container>
    <ng-template #loading>
        Loading...
    </ng-template>
</ng-template>